body{
    margin: 0;
    
    background-color: black;
  

}
.l1{
    padding: 50px;
    background-color:#CEE6F3;

}
.l2{
    padding:50px;
    background-color: #FBA1B7; /*no effect already body same color*/

}
.l3{ padding:50px;
    background-color:#A8DF8E;

}
.l4{
    background-color: #66BFBF;

    padding:50px;
    
}